<p id="notice"><%= notice %></p>

<h1>Tango à Toulouse</h1>

<div class="container">

    <% @events.each do |event| %>
      <div class="row <%= cycle('even', 'odd') %>">
        <div class="col-md-2"><%= event.date %></div>
        <div class="col-md-2"><%= event.dance_type.name %></div>
        <div class="col-md-2"><%= l(event.start_time, format: "%H:%M") %> à <%= l(event.end_time, format: "%H:%M") %></div>
        <div class="col-md-2"><%= event.location %></div>
        <div class="col-md-2"><%= event.city.name %></div>
      </div>
    <% end %>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
